<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gaoyifeng.aioserver.infrastructure.dao.mapper.CategoryMapper">

    <resultMap id="BaseResultMap" type="com.gaoyifeng.aioserver.infrastructure.dao.po.CategoryPO">
        <id column="id" property="id" />
        <result column="cate_name" property="cateName" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="blog_num" property="blogNum" />
    </resultMap>

    <sql id="Base_Column_List">
        id, cate_name, create_time, update_time, blog_num
    </sql>

    <select id="selectById" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from category
        where id = #{id}
    </select>

    <insert id="insert" parameterType="com.gaoyifeng.aioserver.infrastructure.dao.po.CategoryPO">
        insert into category (id, cate_name, create_time, update_time, blog_num)
        values (#{po.id}, #{po.cateName}, #{po.createTime}, #{po.updateTime}, #{po.blogNum})
    </insert>

    <update id="updateById" parameterType="com.gaoyifeng.aioserver.infrastructure.dao.po.CategoryPO">
        update category
        set cate_name = #{po.cateName},
            create_time = #{po.createTime},
            update_time = #{po.updateTime},
            blog_num = #{po.blogNum}
        where id = #{po.id}
    </update>

</mapper>